.caixa{
    background: linear-gradient(36deg,#5E1611 8%, #410FD4 , #1CEBCF, #A1D40F, #F5A140)
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(19, 18, 18) !important;
    background-color: white;
    color: rgb(19, 18, 18) !important;
}

.postagens{
    background-color: rgb(77, 5, 26);
}